@font-face {
    font-family:"Arimo";
    src:url("fonts/Arimo-Regular.ttf");
}

.Arimo{
    font-family: "Arimo", Arial, sans-serif;
}

@font-face {
    font-family:"Bellico";
    src:url("fonts/Bellico.ttf");
}

.Bellico{
    font-family: "Bellico", Arial, sans-serif;
}

@font-face {
    font-family:"GreatVibes";
    src:url("fonts/GreatVibes-Regular.otf");
}

.GreatVibes{
    font-family: "GreatVibes", Arial, sans-serif;
}

@font-face {
    font-family:"Havana";
    src:url("fonts/Havana-Regular.ttf");
}

.Havana{
    font-family: "Havana", Arial, sans-serif;
}


@font-face {
    font-family:"Jaapokki-Regular";
    src:url("fonts/Jaapokki-Regular.otf");
}

.Jaapokki{
    font-family: "Jaapokki-Regular", Arial, sans-serif;
}
@font-face {
    font-family:"Pacha";
    src:url("fonts/Pacha.otf");
}